/* -------- Seções de planos -------- */
.planos {
  text-align: center;
  padding: 60px 20px;
}

.planos h1 {
  font-size: 2rem;
  color: #333;
}

.planos h1 span {
  color: #8E24AA;
}

.planos h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.planos h2 span {
  color: #4CAF50;
}

.planos.descricao {
  margin-bottom: 40px;
  color: #666;
}

.planos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1500px;
  margin: 0 auto;
  justify-content: center;
}

.plano-card {
  flex: 1 1 250px;
  max-width: 300px;
  border: 2px solid #4CAF50;
  border-radius: 12px;
  padding: 30px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.plano-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.plano-card h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #222;
}

.plano-card .preco {
  font-size: 1.6rem;
  font-weight: bold;
  color: #4CAF50;
  margin: 15px 0;
}

.plano-card .btn {
  border: 2px solid #600779;
  background-color: #9C27B0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  display: inline-block;
  padding: 12px 25px;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s ease;
}

.plano-card .btn:hover {
  transform: scale(0.92) rotate(1deg);
  filter: brightness(0.9);
  transition: transform 0.08s ease;
}

/* -------- Modal atualizado -------- */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  /* centraliza */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  text-align: center;
  position: relative;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.3s ease;
}

.fechar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #666;
  cursor: pointer;
  border: none;
  background: none;
}

.modalContent .fechar:hover {
  color: #000;
}

.modalContent li {
  text-decoration: none;
}

.modalContent .fechar:hover {
  color: #000;
}

/* Animação suave */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #8E24AA;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s ease;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background: #6f2588;
}