.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  background: #7FFF4F;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: bold;
  color: #8E24AA;
  text-decoration: none;
}

.logo img {
  height: 45px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: #8E24AA;
  font-weight: bold;
  transition: 0.3s;
}

.navbar a:hover {
  color: #E91E63;
}

.active {
  color: #E91E63;
}