.formulario{
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.formulario label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #388E3C;
}

.formulario input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.formulario .btn {
  width: 100%;
  padding: 12px;
  background: #E91E63;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.formulario .btn:hover {
  background: #C2185B;
}

.formulario p {
  margin-top: 15px;
  font-size: 14px;
}

.formulario a {
  color: #8E24AA;
  font-weight: bold;
}

.formulario a:hover {
  color: #E91E63;
}